<%= flash[:notice] %>
<div class ="container">
  <div class ="row">
  	<div class="col-xs-3">
  	    <h2> User info</h2>
  	        <table class="table">
  	      	  <tbody>
  	      	  	<tr>
                  <%= attachment_image_tag @user,:profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
                <tr>
  	      	  	  <th> name</th>
  	      	  	  <th>
  	      	  	  <%= @user.name %>
  	      	  	  </th>
  	      	  	</tr>
  	      	  	<tr>
  	      	  	  <th> introduction</th>
  	      	  	  <th>
  	      	  	  <%= @user.introduction %>
  	      	  	  </th>
  	      	  	</tr>
  	      	  </tbody>
  	        </table>
  	        <div class="row">
	  	        <%= link_to edit_user_path(current_user.id), class: "col-xs-12 btn btn-default" do %>
	  	            <span class = "glyphicon glyphicon-wrench"></span>
	  	        <% end %>
  	        </div>
  	        <h2> New Book</h2>
  	        <%= form_for(@book) do |f| %>
              <h2>Title</h2>
              <%= f.text_field :title %>
              <h2> Opinion</h2>
              <%= f.text_area :body %>

              <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
            <% end %>
    </div>
    <div class="col-xs-9">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
      	<thead>
      	  <tr>
      	  	<th></th>
      	  	<th>Title</th>
      	  	<th>Opinion</th>
      	  	<th colspan="3"></th>
      	  </tr>
      	</thead>
      	<tbody>
      	  <tr>
      	  	<td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      	  	</td>
            <td><%= link_to @books.title,book_path %>
            </td>
            <td><%= @books.body %>
            </td>
            <% if current_user.id == @user.id %>
            <td>
            <%= link_to "edit",edit_book_path%>
          </td>
          <td>
            <%= link_to "Destroy",book_path, method: :delete, data: {confirm: "本当に消しますか？"} %>
            </td>
            <% end %>
      	  </tr>
          <tr>
            <td>
              <%= link_to @user
              .name, user_path(@user.id) %>
            </td>
          </tr>
      	</tbody>
      </table>
    </div>
  </div>
</div>
