<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
        <span>Bookers </span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <%= link_to "Home",root_path %>
      <%= link_to "About",about_path %>
      <%= link_to "sign up", new_user_registration_path %>
      <%= link_to "log in", new_user_session_path %>
      </ul>
    </nav>
  </div>
</header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
